.bookCard {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  font-family: var(--chinese-sans-font-family);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.bookCard:hover {
  transform: translateY(-5px);
}

.bookCard:hover > div:first-child {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.bookCardTitle {
  width: 100%;
  font-size: inherit;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
